.idea/*
*.class
*.log
*/target/*.*
*.lst
*/target/*
*/target/*.*
*/target/*.*
*/target/*
*/*/target/*.jar
*/*/target/maven-status/*
*.lst
*.lst
*/target/*
*.iml
*/target/*
*/target/*
*/*/target/*
*/*/*/target/*
/target/*
*.pdb
apolloConfig/*
